{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">{{ t('import_bookmarks.title') }}</h1>

<div style="max-width: 300px; margin: 20px auto;">
    <h2>{{ t('import_bookmarks.firefox_title') }}</h2>
    <p>{{ t('import_bookmarks.firefox_instructions') }}</p>
    <ol>
        <li>{{ t('import_bookmarks.firefox_step1') }}</li>
        <li>{{ t('import_bookmarks.firefox_step2') }}</li>
        <li>{{ t('import_bookmarks.firefox_step3') }}</li>
        <li>{{ t('import_bookmarks.firefox_step4') }}</li>
    </ol>

    <form method="POST" enctype="multipart/form-data" style="margin: 20px 0 20px 0; border: 1px solid #ccc; padding: 5px; border-radius: 5px;">
        <input type="file" name="bookmarks_file" accept=".html" required>
        <input type="submit" value="{{ t('import_bookmarks.button') }}">
    </form>
</div>

<div style="max-width: 300px; margin: 20px auto;">
    <h2>{{ t('import_bookmarks.export_title') }}</h2>
    <p>{{ t('import_bookmarks.export_desc') }}</p>
    <form action="{{ url_for('export_bookmarks') }}" method="GET" style="margin: 20px 0 20px 0; text-align: center;">
        <button type="submit" style="padding: 5px 10px;">{{ t('import_bookmarks.export_button') }}</button>
    </form>
</div>

<div style="max-width: 300px; margin: 20px auto; text-align: center;">
    <h2>{{ t('import_bookmarks.bookmarklet_title') }}</h2>
    <p>{{ t('import_bookmarks.bookmarklet_desc') }}</p>
    <a role="button" href="javascript:(function(){window.location.href='http://127.0.0.1:5000/add_bookmark?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(document.URL);})();">{{ t('app_name') }}</a>
</div>
{% endblock %}